/*.image{
    background-image: url('./Images/pngtree-scenic-autumn-drive-through-new-englands-foliageadorned-countryside-usa-photo-image_32930174.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:98vh;
}*/
.image{
    background-image:url('./Images/istockphoto-513951578-2048x2048.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:98vh;
    color:red;
}
.alada{
    background-image: url('./Images/istockphoto-2106984839-612x612.jpg');
}